# Python cache
__pycache__/

# Lock files
package-lock.json
poetry.lock

# VSCode config
.vscode/

# Node modules
node_modules/

# Svelte build files
src/frontend/public/build/
src/frontend/dist/
.DS_Store

# Latex build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
