# Python cache
__pycache__/

# Python environment
.env*
.secrets*

# Lock files
Pipfile.lock
package-lock.json

# VSCode config
.vscode/

# Node modules
node_modules/

# Svelte build files
src/frontend/public/build/
src/frontend/dist/
.DS_Store

# Latex build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
